%h2 Edit Existing Slots
= form_tag schedule_path(@schedule), :method => :put do
  = label :schedule, :name, 'Name', :class => 'col-form-label'
  = text_field :schedule, :name, :class => 'form-control'
  = label :schedule, :date, 'Date', :class => 'col-form-label'
  = text_field :schedule, :date, :class => 'form-control'
  = label :schedule, :start_time, 'Start Time', :class => 'col-form-label'
  = text_field :schedule, :start_time, :class => 'form-control'
  = label :schedule, :end_time, 'End Time', :class => 'col-form-label'
  = text_field :schedule, :end_time, :class => 'form-control'
  = label :schedule, :availability, 'Availability', :class => 'col-form-label'
  = select :schedule, :availability, ['Available','Not Available'], {}, {:class => 'form-control col-1'}
  %br/
  = submit_tag 'Update Slot Info', :class => 'btn btn-primary'
  = link_to 'Cancel', schedules_path, :class => 'btn btn-secondary'
